.navigation {
  display: flex;
  gap: 10px;
  flex-direction: column;

  align-items: center;
  padding: 5px;
}
.navigationLink {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.textAccount {
  background: white;
  color: black;
  padding: 3px;
  border-radius: 30px;
  border: 2px solid greenyellow;
  font-size: 10px;
}

@media screen and (min-width: 500px) {
  .navigation {
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
  .navigationLink {
    font-size: 20px;
  }
}
@media screen and (min-width: 650px) {
  .navigation {
    flex-direction: row;
  }
  .textAccount {
    display: block;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid greenyellow;
  }
}
