.img {
  width: 300px;
}

@media screen and (min-width: 650px) {
  .img {
    width: 180px;
  }
}

@media screen and (min-width: 750px) {
  .img {
    width: 300px;
  }
}

@media screen and (min-width: 930px) {
  .img {
    width: 500px;
  }
}
